**
!package.json
!LICENSE
!README.md
!CHANGELOG.md
!resources/**
!out/extension.js
!out/webview/panel.html
!mcp-server/dist/index.js
!mcp-server/package.json
!scripts/hooks/**
!scripts/generate-webview.js
!scripts/validate-build.js
